@model IEnumerable<BlowOut.Models.ClientInstuments>
@{
    ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.instruments.Name)
        </th>
        <th>Image</th>
        <th>
            @Html.DisplayNameFor(model => model.instruments.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instruments.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instruments.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clients.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clients.LastName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.clients.Address)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.clients.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clients.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clients.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clients.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clients.Phone)
        </th>*@
    </tr>

    @foreach (var item in Model)
    {
    <tr> 
        <td>
            @item.instruments.Name
        </td>
        <td>Image</td>
        <td>
            @item.instruments.Type
        </td>
        <td>
            @item.instruments.Price
        </td>
        <td>
            @item.instruments.ClientID
        </td>
        @if(@item.instruments.ClientID != 0){
            <td>
                @item.clients.FirstName
            </td>
            <td>
                @item.clients.LastName
            </td>
        }
        else {
        <td>none</td>
        <td>none</td>
        }
        @*<td>
            @Html.DisplayFor(model => model.instruments.ClientID)
        </td>
        <td>
            @Html.DisplayFor(model => model.clients.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.clients.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.clients.Address)
        </td>
        <td>
            @Html.DisplayFor(model => model.clients.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.clients.State)
        </td>
        <td>
            @Html.DisplayFor(model => model.clients.Zip)
        </td>
        <td>
            @Html.DisplayFor(model => model.clients.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.clients.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InstrumentID }) |
            @Html.ActionLink("Details", "Details", new { id = item.InstrumentID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InstrumentID })
        </td>*@
    </tr>
    }

</table>
