
@{
    ViewBag.Title = "Rentals";
}

<div class="rentalHeader">
<h2 class="text-center RTitle">Rentals</h2>
<h3>@ViewBag.SelectInstrument</h3>
</div>
<!--Trumpet-->
<a href='@Url.Action("Trumpet", "Home")'>
    <img class="instruments" src="~/Content/images/trumpet.jpg" />
</a>
<span>&nbsp;&nbsp;</span>
<!--Trombone-->
<a href='@Url.Action("Trombone", "Home")'>
    <img class="instruments" src="~/Content/images/trombone.jpg" />
</a>
<span>&nbsp;&nbsp;</span>
<!--Tuba-->
<a href='@Url.Action("Tuba", "Home")'>
    <img class="instruments" src="~/Content/images/tuba.jpg" />
</a>
<br />
<br />
<br />
<!--Flute-->
<a href='@Url.Action("Flute", "Home")'>
    <img class="instruments" src="~/Content/images/flute.jpg" />
</a>
<span>&nbsp;&nbsp;</span>
<!--Clarinet-->
<a href='@Url.Action("Clarinet", "Home")'>
    <img class="instruments" src="~/Content/images/clarinet.jpg" />
</a>
<span>&nbsp;&nbsp;</span>
<!--Saxophone-->
<a href='@Url.Action("Saxophone", "Home")'>
    <img class="instruments" src="~/Content/images/saxophone.jpg" />
</a>