@model IEnumerable<BlowOut.Models.Instrument>
<br />
<br />
<br />
@{<div class="rentalHeader text-center">
        <h2 class="text-center RTitle">Rentals</h2>
        <h3>@ViewBag.SelectInstrument</h3>
    </div>
    ViewBag.Title = "Rentals";
}


  <div class="container retalsList">
      <div class="row">
          @foreach (var item in Model)
          {
          <div class="col-sm-6 text-center">
              <a href='@Url.Action("Create", "Home", new { id = @item.InstrumentID })'>
                  <img src="@Url.Content(item.ImageString)" class="instruments" />
                  <p class="instTitle text-center">@item.Type - @item.Name </p>
              </a>
          </div>
          }
      </div>
   </div>